<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet" type="text/css" />  
    <!--  <link rel="shortcut icon" href="images/icon.ico" /> -->
    <link rel="icon" type="image/x-icon" href="images/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title> kaojao </title> 
    <link href="css/lightslider.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <main>
        <div class="col">
            <div class="row">
                <div class="col-xl-2 menu p-0 col-12  "> 

                    <a href="#" class="closex pc-x">
                        <i style="color:#607D8B;" class="fa fa-times text-danger" aria-hidden="true"></i>
                    </a>

                    <div class="clearfix">&nbsp;</div>
                    <div class="col">
                        <img src="images/logo.png" class="img-fluid d-block mx-auto" width="100px">
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <ul>
                        <li>
                            <a href="#">
                                <i style="font-size:15px; color: #2196F3;" class="fad fa-store-alt" aria-hidden="true"></i>
                                ร้านค้า
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i style="font-size:18px; color: #42a5f5" class="fad fa-chart-bar" aria-hidden="true"></i>
                                ยอดขาย
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i style="margin-left:1px; font-size:18px;color: #2196F3;" class="fad fa-cube" aria-hidden="true"></i>
                                สินค้า
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i style="margin-left:2px; font-size:18px;color: #2196F3; " class="fad fa-comment-lines" aria-hidden="true"></i>
                                ตอบตามคีย์เวิร์ด
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i style="font-size:16px;color: #2196F3; margin-left:3px;" class="fad fa-edit" aria-hidden="true"></i>
                                ตอบตามโพสต์
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i style="font-size:19px;color: #2196F3; margin-left:4px;" class="fad fa-microphone-alt" aria-hidden="true"></i>
                                บรอดแคสต์
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i style="font-size:18px;color: #2196F3; margin-left:0;" class="fad fa-lightbulb-on" aria-hidden="true"></i>
                                ติดตามเพจคู่แข่ง
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i style="font-size:18px;color: #2196F3; margin-left:0;" class="fad fa-users" aria-hidden="true"></i>
                                กลุ่มเป้าหมาย
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/fb_square.png" style="width: 20px;margin-right: 16px;margin-top: -5px;">
                                โฆษณา Facebook
                            </a>
                        </li>
                    </ul>       
                    <div class="col t05">
                        <a href="#" class="btn btn-cla">
                            <i style="font-size:14px; color:black !important; left:10px;" class="fas fa-shopping-cart" aria-hidden="true"></i> 
                            ต่ออายุสมาชิก
                        </a>
                    </div>   
                    <div class="col t05">
                        <a href="#" class="btn btn-clb">
                            <i style="color:#4CAF50 !important; left:10px;" class="fas fa-check-circle" aria-hidden="true"></i>
                            เช็คลิสต์การตั้งค่า
                        </a>
                    </div>   
                    <div class="col t05">
                        <a href="#" class="btn btn-clb">
                            <i style="color:#3F51B5 !important; left:10px;" class="fas fa-book" aria-hidden="true"></i>
                            วิธีใช้
                        </a>
                    </div>   
                    <div class="col t05">
                        <a href="#" class="btn btn-clb">
                            <i style="font-size:14px; color:#ffca28; left:10px;" class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                            พบปัญหา
                        </a>
                    </div>      

                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div class="col-xl-10 col-12 bodyx">

                    <div class="col-12 li1">
                        <img  class="img-avatar" style="width: 20px;" src="images/fb_square.png"> 
                        gg@gmail.com
                        <i style="color:#80b440; left:10px; font-size:18px;" class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="col-12 li2">
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <form>
                                    <div class="form-group">
                                        <label for="pro">รหัสโปรโมชั่น</label>
                                        <input type="text" class="form-control"   id="pro">
                                    </div>

                                    <div class="col-12 text-right p-0">
                                        <button   type="button" class="btn btn-noborder btn-primary btn-sm">
                                            <i class="far fa-check-square" aria-hidden="true"> </i> ตรวจสอบรหัสโปรโมชั่น
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="col-12 li2">
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <form> 

                                    <div class="form-group">
                                        <label for="pro">ภาษา</label>
                                        <select   class="form-control" name="lang">
                                            <option value="en">English</option>
                                            <option value="th" selected="selected">ภาษาไทย</option>
                                        </select>
                                    </div>
 
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix">&nbsp;</div>




                    <div class="col-12 li3">
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <form> 

                                    <div class="form-group">
                                        <label for="pro">สกุลเงิน</label>
                                        <select class="form-control form-control-sm  " name="Currency" required=""  >
                                            <option value="AED">AED - United Arab Emirates Dirham</option>
                                            <option value="AFN">AFN - Afghanistan Afghani</option>
                                            <option value="ALL">ALL - Albania Lek</option>
                                            <option value="AMD">AMD - Armenia Dram</option>
                                            <option value="ANG">ANG - Netherlands Antilles Guilder</option>
                                            <option value="AOA">AOA - Angola Kwanza</option>
                                            <option value="ARS">ARS - Argentina Peso</option>
                                            <option value="AUD">AUD - Australia Dollar</option>
                                            <option value="AWG">AWG - Aruba Guilder</option>
                                            <option value="AZN">AZN - Azerbaijan New Manat</option>
                                            <option value="BAM">BAM - Bosnia and Herzegovina Convertible Marka</option>
                                            <option value="BBD">BBD - Barbados Dollar</option>
                                            <option value="BDT">BDT - Bangladesh Taka</option>
                                            <option value="BGN">BGN - Bulgaria Lev</option>
                                            <option value="BHD">BHD - Bahrain Dinar</option>
                                            <option value="BIF">BIF - Burundi Franc</option>
                                            <option value="BMD">BMD - Bermuda Dollar</option>
                                            <option value="BND">BND - Brunei Darussalam Dollar</option>
                                            <option value="BOB">BOB - Bolivia Bolíviano</option>
                                            <option value="BRL">BRL - Brazil Real</option>
                                            <option value="BSD">BSD - Bahamas Dollar</option>
                                            <option value="BTN">BTN - Bhutan Ngultrum</option>
                                            <option value="BWP">BWP - Botswana Pula</option>
                                            <option value="BYR">BYR - Belarus Ruble</option>
                                            <option value="BZD">BZD - Belize Dollar</option>
                                            <option value="CAD">CAD - Canada Dollar</option>
                                            <option value="CDF">CDF - Congo/Kinshasa Franc</option>
                                            <option value="CHF">CHF - Switzerland Franc</option>
                                            <option value="CLP">CLP - Chile Peso</option>
                                            <option value="CNY">CNY - China Yuan Renminbi</option>
                                            <option value="COP">COP - Colombia Peso</option>
                                            <option value="CRC">CRC - Costa Rica Colon</option>
                                            <option value="CUC">CUC - Cuba Convertible Peso</option>
                                            <option value="CUP">CUP - Cuba Peso</option>
                                            <option value="CVE">CVE - Cape Verde Escudo</option>
                                            <option value="CZK">CZK - Czech Republic Koruna</option>
                                            <option value="DJF">DJF - Djibouti Franc</option>
                                            <option value="DKK">DKK - Denmark Krone</option>
                                            <option value="DOP">DOP - Dominican Republic Peso</option>
                                            <option value="DZD">DZD - Algeria Dinar</option>
                                            <option value="EGP">EGP - Egypt Pound</option>
                                            <option value="ERN">ERN - Eritrea Nakfa</option>
                                            <option value="ETB">ETB - Ethiopia Birr</option>
                                            <option value="EUR">EUR - Euro Member Countries</option>
                                            <option value="FJD">FJD - Fiji Dollar</option>
                                            <option value="FKP">FKP - Falkland Islands (Malvinas) Pound</option>
                                            <option value="GBP">GBP - United Kingdom Pound</option>
                                            <option value="GEL">GEL - Georgia Lari</option>
                                            <option value="GGP">GGP - Guernsey Pound</option>
                                            <option value="GHS">GHS - Ghana Cedi</option>
                                            <option value="GIP">GIP - Gibraltar Pound</option>
                                            <option value="GMD">GMD - Gambia Dalasi</option>
                                            <option value="GNF">GNF - Guinea Franc</option>
                                            <option value="GTQ">GTQ - Guatemala Quetzal</option>
                                            <option value="GYD">GYD - Guyana Dollar</option>
                                            <option value="HKD">HKD - Hong Kong Dollar</option>
                                            <option value="HNL">HNL - Honduras Lempira</option>
                                            <option value="HRK">HRK - Croatia Kuna</option>
                                            <option value="HTG">HTG - Haiti Gourde</option>
                                            <option value="HUF">HUF - Hungary Forint</option>
                                            <option value="IDR">IDR - Indonesia Rupiah</option>
                                            <option value="ILS">ILS - Israel Shekel</option>
                                            <option value="IMP">IMP - Isle of Man Pound</option>
                                            <option value="INR">INR - India Rupee</option>
                                            <option value="IQD">IQD - Iraq Dinar</option>
                                            <option value="IRR">IRR - Iran Rial</option>
                                            <option value="ISK">ISK - Iceland Krona</option>
                                            <option value="JEP">JEP - Jersey Pound</option>
                                            <option value="JMD">JMD - Jamaica Dollar</option>
                                            <option value="JOD">JOD - Jordan Dinar</option>
                                            <option value="JPY">JPY - Japan Yen</option>
                                            <option value="KES">KES - Kenya Shilling</option>
                                            <option value="KGS">KGS - Kyrgyzstan Som</option>
                                            <option value="KHR">KHR - Cambodia Riel</option>
                                            <option value="KMF">KMF - Comoros Franc</option>
                                            <option value="KPW">KPW - Korea (North) Won</option>
                                            <option value="KRW">KRW - Korea (South) Won</option>
                                            <option value="KWD">KWD - Kuwait Dinar</option>
                                            <option value="KYD">KYD - Cayman Islands Dollar</option>
                                            <option value="KZT">KZT - Kazakhstan Tenge</option>
                                            <option value="LAK">LAK - Laos Kip</option>
                                            <option value="LBP">LBP - Lebanon Pound</option>
                                            <option value="LKR">LKR - Sri Lanka Rupee</option>
                                            <option value="LRD">LRD - Liberia Dollar</option>
                                            <option value="LSL">LSL - Lesotho Loti</option>
                                            <option value="LYD">LYD - Libya Dinar</option>
                                            <option value="MAD">MAD - Morocco Dirham</option>
                                            <option value="MDL">MDL - Moldova Leu</option>
                                            <option value="MGA">MGA - Madagascar Ariary</option>
                                            <option value="MKD">MKD - Macedonia Denar</option>
                                            <option value="MMK">MMK - Myanmar (Burma) Kyat</option>
                                            <option value="MNT">MNT - Mongolia Tughrik</option>
                                            <option value="MOP">MOP - Macau Pataca</option>
                                            <option value="MRO">MRO - Mauritania Ouguiya</option>
                                            <option value="MUR">MUR - Mauritius Rupee</option>
                                            <option value="MVR">MVR - Maldives (Maldive Islands) Rufiyaa</option>
                                            <option value="MWK">MWK - Malawi Kwacha</option>
                                            <option value="MXN">MXN - Mexico Peso</option>
                                            <option value="MYR">MYR - Malaysia Ringgit</option>
                                            <option value="100">MZN - Mozambique Metical</option>
                                            <option value="101">NAD - Namibia Dollar</option>
                                            <option value="102">NGN - Nigeria Naira</option>
                                            <option value="103">NIO - Nicaragua Cordoba</option>
                                            <option value="104">NOK - Norway Krone</option>
                                            <option value="105">NPR - Nepal Rupee</option>
                                            <option value="106">NZD - New Zealand Dollar</option>
                                            <option value="107">OMR - Oman Rial</option>
                                            <option value="108">PAB - Panama Balboa</option>
                                            <option value="109">PEN - Peru Sol</option>
                                            <option value="110">PGK - Papua New Guinea Kina</option>
                                            <option value="PHP">PHP - Philippines Peso</option>
                                            <option value="PKR">PKR - Pakistan Rupee</option>
                                            <option value="PLN">PLN - Poland Zloty</option>
                                            <option value="PYG">PYG - Paraguay Guarani</option>
                                            <option value="QAR">QAR - Qatar Riyal</option>
                                            <option value="RON">RON - Romania New Leu</option>
                                            <option value="RSD">RSD - Serbia Dinar</option>
                                            <option value="RUB">RUB - Russia Ruble</option>
                                            <option value="RWF">RWF - Rwanda Franc</option>
                                            <option value="SAR">SAR - Saudi Arabia Riyal</option>
                                            <option value="SBD">SBD - Solomon Islands Dollar</option>
                                            <option value="SCR">SCR - Seychelles Rupee</option>
                                            <option value="SDG">SDG - Sudan Pound</option>
                                            <option value="SEK">SEK - Sweden Krona</option>
                                            <option value="SGD">SGD - Singapore Dollar</option>
                                            <option value="SHP">SHP - Saint Helena Pound</option>
                                            <option value="SLL">SLL - Sierra Leone Leone</option>
                                            <option value="SOS">SOS - Somalia Shilling</option>
                                            <option value="SPL">SPL - Seborga Luigino</option>
                                            <option value="SRD">SRD - Suriname Dollar</option>
                                            <option value="STD">STD - São Tomé and Príncipe Dobra</option>
                                            <option value="SVC">SVC - El Salvador Colon</option>
                                            <option value="SYP">SYP - Syria Pound</option>
                                            <option value="SZL">SZL - Swaziland Lilangeni</option>
                                            <option value="THB" selected="selected">THB - Thailand Baht</option>
                                            <option value="TJS">TJS - Tajikistan Somoni</option>
                                            <option value="TMT">TMT - Turkmenistan Manat</option>
                                            <option value="TND">TND - Tunisia Dinar</option>
                                            <option value="TOP">TOP - Tonga Pa'anga</option>
                                            <option value="TRY">TRY - Turkey Lira</option>
                                            <option value="TTD">TTD - Trinidad and Tobago Dollar</option>
                                            <option value="TVD">TVD - Tuvalu Dollar</option>
                                            <option value="TWD">TWD - Taiwan New Dollar</option>
                                            <option value="TZS">TZS - Tanzania Shilling</option>
                                            <option value="UAH">UAH - Ukraine Hryvnia</option>
                                            <option value="UGX">UGX - Uganda Shilling</option>
                                            <option value="USD">USD - United States Dollar</option>
                                            <option value="UYU">UYU - Uruguay Peso</option>
                                            <option value="UZS">UZS - Uzbekistan Som</option>
                                            <option value="VEF">VEF - Venezuela Bolivar</option>
                                            <option value="VND">VND - Viet Nam Dong</option>
                                            <option value="VUV">VUV - Vanuatu Vatu</option>
                                            <option value="WST">WST - Samoa Tala</option>
                                            <option value="XAF">XAF - Communauté Financière Africaine (BEAC) CFA Franc BEAC</option>
                                            <option value="XCD">XCD - East Caribbean Dollar</option>
                                            <option value="XDR">XDR - International Monetary Fund (IMF) Special Drawing Rights</option>
                                            <option value="XOF">XOF - Communauté Financière Africaine (BCEAO) Franc</option>
                                            <option value="XPF">XPF - Comptoirs Français du Pacifique (CFP) Franc</option>
                                            <option value="YER">YER - Yemen Rial</option>
                                            <option value="ZAR">ZAR - South Africa Rand</option>
                                            <option value="ZMW">ZMW - Zambia Kwacha</option>
                                            <option value="ZWD">ZWD - Zimbabwe Dollar</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="pro">โซนเวลา</label>
                                        <select   class="form-control" name="lang">                                            
                                            <option ng-repeat="model in timezoneList" value="Dateline Standard Time" class="ng-binding ng-scope">(UTC-12:00) International Date Line West</option>
                                            <option ng-repeat="model in timezoneList" value="UTC-11" class="ng-binding ng-scope">(UTC-11:00) Coordinated Universal Time-11</option>
                                            <option ng-repeat="model in timezoneList" value="Aleutian Standard Time" class="ng-binding ng-scope">(UTC-10:00) Aleutian Islands</option>
                                            <option ng-repeat="model in timezoneList" value="Hawaiian Standard Time" class="ng-binding ng-scope">(UTC-10:00) Hawaii</option>
                                            <option ng-repeat="model in timezoneList" value="Marquesas Standard Time" class="ng-binding ng-scope">(UTC-09:30) Marquesas Islands</option>
                                            <option ng-repeat="model in timezoneList" value="Alaskan Standard Time" class="ng-binding ng-scope">(UTC-09:00) Alaska</option>
                                            <option ng-repeat="model in timezoneList" value="UTC-09" class="ng-binding ng-scope">(UTC-09:00) Coordinated Universal Time-09</option>
                                            <option ng-repeat="model in timezoneList" value="Pacific Standard Time (Mexico)" class="ng-binding ng-scope">(UTC-08:00) Baja California</option>
                                            <option ng-repeat="model in timezoneList" value="UTC-08" class="ng-binding ng-scope">(UTC-08:00) Coordinated Universal Time-08</option>
                                            <option ng-repeat="model in timezoneList" value="Pacific Standard Time" class="ng-binding ng-scope">(UTC-08:00) Pacific Time (US &amp; Canada)</option>
                                            <option ng-repeat="model in timezoneList" value="US Mountain Standard Time" class="ng-binding ng-scope">(UTC-07:00) Arizona</option>
                                            <option ng-repeat="model in timezoneList" value="Mountain Standard Time (Mexico)" class="ng-binding ng-scope">(UTC-07:00) Chihuahua, La Paz, Mazatlan</option>
                                            <option ng-repeat="model in timezoneList" value="Mountain Standard Time" class="ng-binding ng-scope">(UTC-07:00) Mountain Time (US &amp; Canada)</option>
                                            <option ng-repeat="model in timezoneList" value="Central America Standard Time" class="ng-binding ng-scope">(UTC-06:00) Central America</option>
                                            <option ng-repeat="model in timezoneList" value="Central Standard Time" class="ng-binding ng-scope">(UTC-06:00) Central Time (US &amp; Canada)</option>
                                            <option ng-repeat="model in timezoneList" value="Easter Island Standard Time" class="ng-binding ng-scope">(UTC-06:00) Easter Island</option>
                                            <option ng-repeat="model in timezoneList" value="Central Standard Time (Mexico)" class="ng-binding ng-scope">(UTC-06:00) Guadalajara, Mexico City, Monterrey</option>
                                            <option ng-repeat="model in timezoneList" value="Canada Central Standard Time" class="ng-binding ng-scope">(UTC-06:00) Saskatchewan</option>
                                            <option ng-repeat="model in timezoneList" value="SA Pacific Standard Time" class="ng-binding ng-scope">(UTC-05:00) Bogota, Lima, Quito, Rio Branco</option>
                                            <option ng-repeat="model in timezoneList" value="Eastern Standard Time (Mexico)" class="ng-binding ng-scope">(UTC-05:00) Chetumal</option>
                                            <option ng-repeat="model in timezoneList" value="Eastern Standard Time" class="ng-binding ng-scope">(UTC-05:00) Eastern Time (US &amp; Canada)</option>
                                            <option ng-repeat="model in timezoneList" value="Haiti Standard Time" class="ng-binding ng-scope">(UTC-05:00) Haiti</option>
                                            <option ng-repeat="model in timezoneList" value="Cuba Standard Time" class="ng-binding ng-scope">(UTC-05:00) Havana</option>
                                            <option ng-repeat="model in timezoneList" value="US Eastern Standard Time" class="ng-binding ng-scope">(UTC-05:00) Indiana (East)</option>
                                            <option ng-repeat="model in timezoneList" value="Turks And Caicos Standard Time" class="ng-binding ng-scope">(UTC-05:00) Turks and Caicos</option>
                                            <option ng-repeat="model in timezoneList" value="Paraguay Standard Time" class="ng-binding ng-scope">(UTC-04:00) Asuncion</option>
                                            <option ng-repeat="model in timezoneList" value="Atlantic Standard Time" class="ng-binding ng-scope">(UTC-04:00) Atlantic Time (Canada)</option>
                                            <option ng-repeat="model in timezoneList" value="Venezuela Standard Time" class="ng-binding ng-scope">(UTC-04:00) Caracas</option>
                                            <option ng-repeat="model in timezoneList" value="Central Brazilian Standard Time" class="ng-binding ng-scope">(UTC-04:00) Cuiaba</option>
                                            <option ng-repeat="model in timezoneList" value="SA Western Standard Time" class="ng-binding ng-scope">(UTC-04:00) Georgetown, La Paz, Manaus, San Juan</option>
                                            <option ng-repeat="model in timezoneList" value="Pacific SA Standard Time" class="ng-binding ng-scope">(UTC-04:00) Santiago</option>
                                            <option ng-repeat="model in timezoneList" value="Newfoundland Standard Time" class="ng-binding ng-scope">(UTC-03:30) Newfoundland</option>
                                            <option ng-repeat="model in timezoneList" value="Tocantins Standard Time" class="ng-binding ng-scope">(UTC-03:00) Araguaina</option>
                                            <option ng-repeat="model in timezoneList" value="E. South America Standard Time" class="ng-binding ng-scope">(UTC-03:00) Brasilia</option>
                                            <option ng-repeat="model in timezoneList" value="SA Eastern Standard Time" class="ng-binding ng-scope">(UTC-03:00) Cayenne, Fortaleza</option>
                                            <option ng-repeat="model in timezoneList" value="Argentina Standard Time" class="ng-binding ng-scope">(UTC-03:00) City of Buenos Aires</option>
                                            <option ng-repeat="model in timezoneList" value="Greenland Standard Time" class="ng-binding ng-scope">(UTC-03:00) Greenland</option>
                                            <option ng-repeat="model in timezoneList" value="Montevideo Standard Time" class="ng-binding ng-scope">(UTC-03:00) Montevideo</option>
                                            <option ng-repeat="model in timezoneList" value="Magallanes Standard Time" class="ng-binding ng-scope">(UTC-03:00) Punta Arenas</option>
                                            <option ng-repeat="model in timezoneList" value="Saint Pierre Standard Time" class="ng-binding ng-scope">(UTC-03:00) Saint Pierre and Miquelon</option>
                                            <option ng-repeat="model in timezoneList" value="Bahia Standard Time" class="ng-binding ng-scope">(UTC-03:00) Salvador</option>
                                            <option ng-repeat="model in timezoneList" value="UTC-02" class="ng-binding ng-scope">(UTC-02:00) Coordinated Universal Time-02</option>
                                            <option ng-repeat="model in timezoneList" value="Mid-Atlantic Standard Time" class="ng-binding ng-scope">(UTC-02:00) Mid-Atlantic - Old</option>
                                            <option ng-repeat="model in timezoneList" value="Azores Standard Time" class="ng-binding ng-scope">(UTC-01:00) Azores</option>
                                            <option ng-repeat="model in timezoneList" value="Cape Verde Standard Time" class="ng-binding ng-scope">(UTC-01:00) Cabo Verde Is.</option>
                                            <option ng-repeat="model in timezoneList" value="UTC" class="ng-binding ng-scope">(UTC) Coordinated Universal Time</option>
                                            <option ng-repeat="model in timezoneList" value="GMT Standard Time" class="ng-binding ng-scope">(UTC+00:00) Dublin, Edinburgh, Lisbon, London</option>
                                            <option ng-repeat="model in timezoneList" value="Greenwich Standard Time" class="ng-binding ng-scope">(UTC+00:00) Monrovia, Reykjavik</option>
                                            <option ng-repeat="model in timezoneList" value="Sao Tome Standard Time" class="ng-binding ng-scope">(UTC+00:00) Sao Tome</option>
                                            <option ng-repeat="model in timezoneList" value="Morocco Standard Time" class="ng-binding ng-scope">(UTC+01:00) Casablanca</option>
                                            <option ng-repeat="model in timezoneList" value="W. Europe Standard Time" class="ng-binding ng-scope">(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                            <option ng-repeat="model in timezoneList" value="Central Europe Standard Time" class="ng-binding ng-scope">(UTC+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                                            <option ng-repeat="model in timezoneList" value="Romance Standard Time" class="ng-binding ng-scope">(UTC+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                                            <option ng-repeat="model in timezoneList" value="Central European Standard Time" class="ng-binding ng-scope">(UTC+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                                            <option ng-repeat="model in timezoneList" value="W. Central Africa Standard Time" class="ng-binding ng-scope">(UTC+01:00) West Central Africa</option>
                                            <option ng-repeat="model in timezoneList" value="Jordan Standard Time" class="ng-binding ng-scope">(UTC+02:00) Amman</option>
                                            <option ng-repeat="model in timezoneList" value="GTB Standard Time" class="ng-binding ng-scope">(UTC+02:00) Athens, Bucharest</option>
                                            <option ng-repeat="model in timezoneList" value="Middle East Standard Time" class="ng-binding ng-scope">(UTC+02:00) Beirut</option>
                                            <option ng-repeat="model in timezoneList" value="Egypt Standard Time" class="ng-binding ng-scope">(UTC+02:00) Cairo</option>
                                            <option ng-repeat="model in timezoneList" value="E. Europe Standard Time" class="ng-binding ng-scope">(UTC+02:00) Chisinau</option>
                                            <option ng-repeat="model in timezoneList" value="Syria Standard Time" class="ng-binding ng-scope">(UTC+02:00) Damascus</option>
                                            <option ng-repeat="model in timezoneList" value="West Bank Standard Time" class="ng-binding ng-scope">(UTC+02:00) Gaza, Hebron</option>
                                            <option ng-repeat="model in timezoneList" value="South Africa Standard Time" class="ng-binding ng-scope">(UTC+02:00) Harare, Pretoria</option>
                                            <option ng-repeat="model in timezoneList" value="FLE Standard Time" class="ng-binding ng-scope">(UTC+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                                            <option ng-repeat="model in timezoneList" value="Israel Standard Time" class="ng-binding ng-scope">(UTC+02:00) Jerusalem</option>
                                            <option ng-repeat="model in timezoneList" value="Kaliningrad Standard Time" class="ng-binding ng-scope">(UTC+02:00) Kaliningrad</option>
                                            <option ng-repeat="model in timezoneList" value="Sudan Standard Time" class="ng-binding ng-scope">(UTC+02:00) Khartoum</option>
                                            <option ng-repeat="model in timezoneList" value="Libya Standard Time" class="ng-binding ng-scope">(UTC+02:00) Tripoli</option>
                                            <option ng-repeat="model in timezoneList" value="Namibia Standard Time" class="ng-binding ng-scope">(UTC+02:00) Windhoek</option>
                                            <option ng-repeat="model in timezoneList" value="Arabic Standard Time" class="ng-binding ng-scope">(UTC+03:00) Baghdad</option>
                                            <option ng-repeat="model in timezoneList" value="Turkey Standard Time" class="ng-binding ng-scope">(UTC+03:00) Istanbul</option>
                                            <option ng-repeat="model in timezoneList" value="Arab Standard Time" class="ng-binding ng-scope">(UTC+03:00) Kuwait, Riyadh</option>
                                            <option ng-repeat="model in timezoneList" value="Belarus Standard Time" class="ng-binding ng-scope">(UTC+03:00) Minsk</option>
                                            <option ng-repeat="model in timezoneList" value="Russian Standard Time" class="ng-binding ng-scope">(UTC+03:00) Moscow, St. Petersburg</option>
                                            <option ng-repeat="model in timezoneList" value="E. Africa Standard Time" class="ng-binding ng-scope">(UTC+03:00) Nairobi</option>
                                            <option ng-repeat="model in timezoneList" value="Iran Standard Time" class="ng-binding ng-scope">(UTC+03:30) Tehran</option>
                                            <option ng-repeat="model in timezoneList" value="Arabian Standard Time" class="ng-binding ng-scope">(UTC+04:00) Abu Dhabi, Muscat</option>
                                            <option ng-repeat="model in timezoneList" value="Astrakhan Standard Time" class="ng-binding ng-scope">(UTC+04:00) Astrakhan, Ulyanovsk</option>
                                            <option ng-repeat="model in timezoneList" value="Azerbaijan Standard Time" class="ng-binding ng-scope">(UTC+04:00) Baku</option>
                                            <option ng-repeat="model in timezoneList" value="Russia Time Zone 3" class="ng-binding ng-scope">(UTC+04:00) Izhevsk, Samara</option>
                                            <option ng-repeat="model in timezoneList" value="Mauritius Standard Time" class="ng-binding ng-scope">(UTC+04:00) Port Louis</option>
                                            <option ng-repeat="model in timezoneList" value="Saratov Standard Time" class="ng-binding ng-scope">(UTC+04:00) Saratov</option>
                                            <option ng-repeat="model in timezoneList" value="Georgian Standard Time" class="ng-binding ng-scope">(UTC+04:00) Tbilisi</option>
                                            <option ng-repeat="model in timezoneList" value="Volgograd Standard Time" class="ng-binding ng-scope">(UTC+04:00) Volgograd</option>
                                            <option ng-repeat="model in timezoneList" value="Caucasus Standard Time" class="ng-binding ng-scope">(UTC+04:00) Yerevan</option>
                                            <option ng-repeat="model in timezoneList" value="Afghanistan Standard Time" class="ng-binding ng-scope">(UTC+04:30) Kabul</option>
                                            <option ng-repeat="model in timezoneList" value="West Asia Standard Time" class="ng-binding ng-scope">(UTC+05:00) Ashgabat, Tashkent</option>
                                            <option ng-repeat="model in timezoneList" value="Ekaterinburg Standard Time" class="ng-binding ng-scope">(UTC+05:00) Ekaterinburg</option>
                                            <option ng-repeat="model in timezoneList" value="Pakistan Standard Time" class="ng-binding ng-scope">(UTC+05:00) Islamabad, Karachi</option>
                                            <option ng-repeat="model in timezoneList" value="Qyzylorda Standard Time" class="ng-binding ng-scope">(UTC+05:00) Qyzylorda</option>
                                            <option ng-repeat="model in timezoneList" value="India Standard Time" class="ng-binding ng-scope">(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                            <option ng-repeat="model in timezoneList" value="Sri Lanka Standard Time" class="ng-binding ng-scope">(UTC+05:30) Sri Jayawardenepura</option>
                                            <option ng-repeat="model in timezoneList" value="Nepal Standard Time" class="ng-binding ng-scope">(UTC+05:45) Kathmandu</option>
                                            <option ng-repeat="model in timezoneList" value="Central Asia Standard Time" class="ng-binding ng-scope">(UTC+06:00) Astana</option>
                                            <option ng-repeat="model in timezoneList" value="Bangladesh Standard Time" class="ng-binding ng-scope">(UTC+06:00) Dhaka</option>
                                            <option ng-repeat="model in timezoneList" value="Omsk Standard Time" class="ng-binding ng-scope">(UTC+06:00) Omsk</option>
                                            <option ng-repeat="model in timezoneList" value="Myanmar Standard Time" class="ng-binding ng-scope">(UTC+06:30) Yangon (Rangoon)</option>
                                            <option ng-repeat="model in timezoneList" value="SE Asia Standard Time" class="ng-binding ng-scope" selected="selected">(UTC+07:00) Bangkok, Hanoi, Jakarta</option>
                                            <option ng-repeat="model in timezoneList" value="Altai Standard Time" class="ng-binding ng-scope">(UTC+07:00) Barnaul, Gorno-Altaysk</option>
                                            <option ng-repeat="model in timezoneList" value="W. Mongolia Standard Time" class="ng-binding ng-scope">(UTC+07:00) Hovd</option>
                                            <option ng-repeat="model in timezoneList" value="North Asia Standard Time" class="ng-binding ng-scope">(UTC+07:00) Krasnoyarsk</option>
                                            <option ng-repeat="model in timezoneList" value="N. Central Asia Standard Time" class="ng-binding ng-scope">(UTC+07:00) Novosibirsk</option>
                                            <option ng-repeat="model in timezoneList" value="Tomsk Standard Time" class="ng-binding ng-scope">(UTC+07:00) Tomsk</option>
                                            <option ng-repeat="model in timezoneList" value="China Standard Time" class="ng-binding ng-scope">(UTC+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                                            <option ng-repeat="model in timezoneList" value="North Asia East Standard Time" class="ng-binding ng-scope">(UTC+08:00) Irkutsk</option>
                                            <option ng-repeat="model in timezoneList" value="Singapore Standard Time" class="ng-binding ng-scope">(UTC+08:00) Kuala Lumpur, Singapore</option>
                                            <option ng-repeat="model in timezoneList" value="W. Australia Standard Time" class="ng-binding ng-scope">(UTC+08:00) Perth</option>
                                            <option ng-repeat="model in timezoneList" value="Taipei Standard Time" class="ng-binding ng-scope">(UTC+08:00) Taipei</option>
                                            <option ng-repeat="model in timezoneList" value="Ulaanbaatar Standard Time" class="ng-binding ng-scope">(UTC+08:00) Ulaanbaatar</option>
                                            <option ng-repeat="model in timezoneList" value="Aus Central W. Standard Time" class="ng-binding ng-scope">(UTC+08:45) Eucla</option>
                                            <option ng-repeat="model in timezoneList" value="Transbaikal Standard Time" class="ng-binding ng-scope">(UTC+09:00) Chita</option>
                                            <option ng-repeat="model in timezoneList" value="Tokyo Standard Time" class="ng-binding ng-scope">(UTC+09:00) Osaka, Sapporo, Tokyo</option>
                                            <option ng-repeat="model in timezoneList" value="North Korea Standard Time" class="ng-binding ng-scope">(UTC+09:00) Pyongyang</option>
                                            <option ng-repeat="model in timezoneList" value="Korea Standard Time" class="ng-binding ng-scope">(UTC+09:00) Seoul</option>
                                            <option ng-repeat="model in timezoneList" value="Yakutsk Standard Time" class="ng-binding ng-scope">(UTC+09:00) Yakutsk</option>
                                            <option ng-repeat="model in timezoneList" value="Cen. Australia Standard Time" class="ng-binding ng-scope">(UTC+09:30) Adelaide</option>
                                            <option ng-repeat="model in timezoneList" value="AUS Central Standard Time" class="ng-binding ng-scope">(UTC+09:30) Darwin</option>
                                            <option ng-repeat="model in timezoneList" value="E. Australia Standard Time" class="ng-binding ng-scope">(UTC+10:00) Brisbane</option>
                                            <option ng-repeat="model in timezoneList" value="AUS Eastern Standard Time" class="ng-binding ng-scope">(UTC+10:00) Canberra, Melbourne, Sydney</option>
                                            <option ng-repeat="model in timezoneList" value="West Pacific Standard Time" class="ng-binding ng-scope">(UTC+10:00) Guam, Port Moresby</option>
                                            <option ng-repeat="model in timezoneList" value="Tasmania Standard Time" class="ng-binding ng-scope">(UTC+10:00) Hobart</option>
                                            <option ng-repeat="model in timezoneList" value="Vladivostok Standard Time" class="ng-binding ng-scope">(UTC+10:00) Vladivostok</option>
                                            <option ng-repeat="model in timezoneList" value="Lord Howe Standard Time" class="ng-binding ng-scope">(UTC+10:30) Lord Howe Island</option>
                                            <option ng-repeat="model in timezoneList" value="Bougainville Standard Time" class="ng-binding ng-scope">(UTC+11:00) Bougainville Island</option>
                                            <option ng-repeat="model in timezoneList" value="Russia Time Zone 10" class="ng-binding ng-scope">(UTC+11:00) Chokurdakh</option>
                                            <option ng-repeat="model in timezoneList" value="Magadan Standard Time" class="ng-binding ng-scope">(UTC+11:00) Magadan</option>
                                            <option ng-repeat="model in timezoneList" value="Norfolk Standard Time" class="ng-binding ng-scope">(UTC+11:00) Norfolk Island</option>
                                            <option ng-repeat="model in timezoneList" value="Sakhalin Standard Time" class="ng-binding ng-scope">(UTC+11:00) Sakhalin</option>
                                            <option ng-repeat="model in timezoneList" value="Central Pacific Standard Time" class="ng-binding ng-scope">(UTC+11:00) Solomon Is., New Caledonia</option>
                                            <option ng-repeat="model in timezoneList" value="Russia Time Zone 11" class="ng-binding ng-scope">(UTC+12:00) Anadyr, Petropavlovsk-Kamchatsky</option>
                                            <option ng-repeat="model in timezoneList" value="New Zealand Standard Time" class="ng-binding ng-scope">(UTC+12:00) Auckland, Wellington</option>
                                            <option ng-repeat="model in timezoneList" value="UTC+12" class="ng-binding ng-scope">(UTC+12:00) Coordinated Universal Time+12</option>
                                            <option ng-repeat="model in timezoneList" value="Fiji Standard Time" class="ng-binding ng-scope">(UTC+12:00) Fiji</option>
                                            <option ng-repeat="model in timezoneList" value="Kamchatka Standard Time" class="ng-binding ng-scope">(UTC+12:00) Petropavlovsk-Kamchatsky - Old</option>
                                            <option ng-repeat="model in timezoneList" value="Chatham Islands Standard Time" class="ng-binding ng-scope">(UTC+12:45) Chatham Islands</option>
                                            <option ng-repeat="model in timezoneList" value="UTC+13" class="ng-binding ng-scope">(UTC+13:00) Coordinated Universal Time+13</option>
                                            <option ng-repeat="model in timezoneList" value="Tonga Standard Time" class="ng-binding ng-scope">(UTC+13:00) Nuku'alofa</option>
                                            <option ng-repeat="model in timezoneList" value="Samoa Standard Time" class="ng-binding ng-scope">(UTC+13:00) Samoa</option>
                                            <option ng-repeat="model in timezoneList" value="Line Islands Standard Time" class="ng-binding ng-scope">(UTC+14:00) Kiritimati Island</option>

                                        </select>
                                    </div>

                                    <div class="col-12 text-right p-0">
                                        <button   type="button" class="btn btn-noborder btn-primary btn-sm">
                                            <i class="fa fa-check" aria-hidden="true"> </i>  บันทึก
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>


                </div>
            </div>
        </div>

        <a href="#">
            <div class="col menu-dix fixed-bottom pc-x">
                <i style="padding-right:10px;" class="fas fa-bars" aria-hidden="true"></i>เมนู
            </div>
        </a>

    </main>
    



    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>   
</body>

    <script type="text/javascript">
        $(document).ready(function () {
 
            $('.closex').click(function () {
                $(".menu").hide("slide");
            });
    

            $('.menu-dix').click(function () {
                $(".menu").toggle("slide");
            });

        });
    </script>

</html>